<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find the best restaurant for any occasion">
  <meta name="theme-color" content="#F20D0D"/>
  <title>CariResto</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preload" fetchpriority="high" as="image" href="/images/heros/hero-image_2-small.jpg" type="image/jpg" media="(max-width: 620px)">
  <link rel="preload" fetchpriority="high" as="image" href="/images/heros/hero-image_2-medium.jpg" type="image/jpg" media="(min-width: 620.1px) and (max-width: 920px)">
  <link rel="preload" fetchpriority="high" as="image" href="/images/heros/hero-image_2-large.jpg" type="image/jpg" media="(min-width: 920px)">
</head>

<body>
  <a is="skip-link"></a>
  <header>
    <nav>
      <div is="nav-bar"></div>
    </nav>
  </header>
  <main id="app"></main>
  <footer>
    <div is="footer-content"></div>
  </footer>
</body>

</html>