* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 10;
}

.skip-link {
  position: absolute;
  top: -52px;
  left: 0;
  background-color: #222;
  color: #fff;
  padding: 15px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 10px;
  left: 10px;
}

.container {
  width: calc(100% - 40px);
  max-width: 1180px;
  margin: 0 auto;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav-content a,
.card a {
  text-decoration: none;
  color: #222;
}

.nav-brand {
  display: flex;
  gap: 8px;
  padding: 6px 0;
}

.logo {
  width: 32px;
  height: 32px;
}

.brand-name {
  font-size: 24px;
  line-height: 32px;
}

.menu-list {
  display: none;
  list-style: none;
  column-gap: 8px;
}

.menu-list.open {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  top: 64px;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  animation: fade .4s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu-list a {
  padding: 11px 20px;
  font-weight: 600;
  border-radius: 4px;
}

.menu-list a:hover,
.nav-menu button:hover {
  box-shadow: 0 0 0 2px;
}

.menu-list a:active,
.nav-menu button:active {
  background-color: #ddd;
}

.toggle-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.search-bar-preload {
  height: 44px;
  border-radius: 4px;
  background-color: #fff;
}

.search-form {
  position: relative;
}

.search-input {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 4px;
  padding: 10px 52px 10px 16px;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  width: 52px;
}

.fa-magnifying-glass {
  display: flex;
  font-size: 20px;
}

.open-menu,
.close-menu {
  font-size: 28px;
}

.close-menu,
.open-menu.open {
  display: none !important;
}

.open-menu,
.close-menu.open {
  display: flex !important;
}

.menu-list li {
  display: flex;
  flex-direction: column;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 360px;
}

.hero-content {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
  padding: 20px;
}

.headline {
  font-size: 34px;
  color: #fff;
}

.hero-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

#maincontent, #favorite {
  margin-top: 30px;
  margin-bottom: 30px;
}

.result-header h3 {
  font-size: 24px;
}

.restaurants {
  padding: 30px 0;
  display: grid;
  gap: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.card a:focus {
  outline: none;
  text-decoration: underline;
}

.card:focus-within,
.card:hover {
  box-shadow: 0 0 0 2px;
}

.card:focus-within a:focus {
  text-decoration: none;
}

.card a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
}

.location,
.rating {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.icon {
  font-size: 16px;
}

.footer-content {
  font-size: 14px;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 20px 0;
}

.error-message {
  padding: 0 20px;
}

.error-message p,
.error-message ul,
.error-message a {
  padding: 12px 0;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.restaurant-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-header-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600;
}

.like-button {
  border: none;
  background-color: transparent;
  font-size: 28px;
  cursor: pointer;
  padding: 8px;
}

.like-button .fa-solid {
  color: #F20D0D;
}

.cover-img {
  height: 360px;
  margin-bottom: 20px;
}

.cover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-description {
  margin-bottom: 20px;
}

.categories {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 30px;
}

hr {
  border-top: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: 20px;
}

.tag {
  font-style: italic;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1px 10px;
  cursor: pointer;
}

.reviews, .menus {
  padding-top: 30px;
  padding-bottom: 30px;
}

#restaurant h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
}

.review {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.review-review {
  flex: 1;
  quotes: initial;
  font-style: italic;
  padding: 20px;
  background-color: #eee;
  border-radius: 4px;
}

.table-menu {
  display: grid;
  row-gap: 20px;
  column-gap: 2px;
}

.table-menu h4 {
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin: 2px;
  border-radius: 4px;
  background-color: #eee;
}

.table-menu li{
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 2px;
  list-style: none;
  border-radius: 4px;
}

.post-review {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 4px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.post-review .review-content {
  display: flex;
  flex-direction: column;
}

.post-review label {
  margin-bottom: 5px;
}

.post-review input, .post-review textarea, .post-review button {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
}

.post-review button:hover {
  background-color: #ddd;
}

.post-review button:active {
  background-color: #eee;
}

.valid-feedback {
  display: none;
  font-size: 12px;
  color: #F20D0D;
  margin-top: 5px;
}

.valid-feedback.invalid {
  display: block;
}